<h1>Books</h1>
<% @books.each do |book| %>
<p><strong>Title</strong></p>
<span><%= book.title %></span>
<p><strong>Body</strong></p>
<span><%= book.body %></span>

<%= link_to "Show", book_path(book) %>
<%= link_to "Edit", edit_book_path(book) %>
<%= link_to "Destroy", book_path(book), method: :delete, "data-confilm" => "Are you sure?" %>

<% end %>
